/*
#343E3D
#607466
#7EC89B
#B3E6BB
#FFFFFF
*/

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Raleway', sans-serif;
*/

main{
    background-color: #B3E6BB;
    font-family: 'Cormorant Garamond', serif;
}

p{
    font-family: 'Cormorant Garamond', serif;
}

h1{
    color:#607466;
    background-color:#B3E6BB;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #B3E6BB;
    color: #343E3D;
}

h2{
    color: #607466;
    font-family: 'Raleway', sans-serif;
}

.block{
    display: block;
}

nav{
    position:sticky;
    top: 20px;
    background-color: #7EC89B;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
}

header{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}


a:visited {
    color: #B3E6BB;
    text-decoration: underline overline #343E3D;
  }

a:hover {
	background: #7EC89B;
}

.grid {
    display: grid;
    justify-items: flex-start;
}

.item1 {
    grid-row: 1;
    grid-column: 1 / 8;
}

.item2 {
    grid-column: 8 / 9;
    grid-row: 3;
    align-self: center;
}

.item3 {
    grid-column: 8 / 10;
    grid-row: 1;
    gap: 1;
}

.item4{
    grid-row: 2;
    grid-column: 8 / 9;
}

