/*
#FFFBFF
#EBD8D0
#EAC9C1
#B97964

#343E3D
#607466
#7EC89B
#B3E6BB
#FFFFFF
*/

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Raleway', sans-serif;
*/

main{
    background-color: #B3E6BB;
    font-family: 'Cormorant Garamond', serif;
}

p{
    font-family: 'Cormorant Garamond', serif;
}

h1{
    color:#607466;
    background-color:#B3E6BB;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #B3E6BB;
}

h2{
    color: #607466;
    font-family: 'Raleway', sans-serif;
}

.block{
    display: block;
}

nav{
    position:sticky;
    top: 20px;
    background-color: #7EC89B;
    display: inline-block;
    padding-right: 20px;
}

a:visited {
    color: #B3E6BB;
    text-decoration: underline overline #343E3D;
  }

a:hover {
	background: #7EC89B;
}